body {
  margin: 0;
  background: url("https://as1.ftcdn.net/v2/jpg/03/30/66/82/1000_F_330668210_O0KNrLgamSOejZKzL2zOKKlDy6wIQNdf.jpg");
  /* background: url("./Components/images/istockphoto-654006974-170667a.jpg"); */
  background: cover;
  background-size: contain;
  background-position: top;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
